
header{
    height: 100vh;
    align-items: center;
}
.questionmaincontainer{
    font-size: 1.1em;
    width: 100%;
    display: flex;
    justify-content: center;
}
.questioncontainer{
    margin-left: 2em;
    width: 50%;
    text-align: left;
}
@media (min-width: 600px) {
    .questionmaincontainer{
        font-size: 1.5em;
        display: flex;
        justify-content: center;
    }
}
/* .question{
    width: 100%;
    text-align: center;
}
.question label{
    font-size: 2em;
} */

.question label{
    font-size: 1.75em;
}
.options{
    margin: 1em 0;
}
p{
    
}

.btnSubmit{
    float: right;
}